@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --background-color: #171717;
  --secondary-swatch: #444444;
  --primary-color: #ededed;
  --secondary-color: #da0037;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--background-color);
}
h1,
h2,
h3,
h4,
p {
  color: var(--primary-color);
}

.container {
  display: flex;
  justify-content: center;

  max-width: 40rem;
  min-height: 100vh;

  margin: 0 auto;
  padding: 2rem 0;
}
