@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --background-color: #171717;
  --secondary-swatch: #444444;
  --primary-color: #ededed;
  --secondary-color: #da0037;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--background-color);
}
.name,
.id {
  color: var(--secondary-swatch);
}
.stud-list-container {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  max-width: 45rem;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.stud-list-container div {
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.5fr;
}

a {
  cursor: pointer;
  color: var(--secondary-color);
  background-color: #17171726;
  width: 2rem;
  place-self: end;

  display: flex;
}
